@{
    ViewBag.Title = "About EPGM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>... E P G M ...</title>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
    <link href="~/Content/css/Login/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        .font17 {
            font-size: 14px !important;
        }

        .listalign li {
            /*list-style:none !important;*/
            margin-bottom: 5px !important;
        }
    </style>
    <!-------------------------------->
    <link href="~/Content/css/Login/sty.css" rel="stylesheet" />
    <link href="~/Content/css/Login/login.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
            <section>
                <div class="container">
                    <div class="col-md-8">
                        <h2>About GMS</h2>
                        <p class="font17 text-justify">
                            Electronic Physio Growth Monitor (EPGM): A state of the art innovation that offers end to end solution through its task calibrated Hardware & embedded Software ensures, accurate, factual and timely / periodic live Database of individual specific malnutrition.
                    <br />
                            <br />
                            It is aimed at effecting end to end digitized Database of Growth Monitoring to detect malnutrition in Children of 0-6 age group, thereby facilitating automation in Growth Monitoring Exercise performed at AWC level and Data Consolidation at Project and HQ Levels.
                        </p>
                        <p class="font14 align only listalign" style="font-size: 14px; text-align: justify;">
                            <h3>Benefits</h3>

                            <b>To the Government</b><ul>
                                <li>Integrated and Scientific way to monitor the goals related to Malnutrition and infant mortality</li>
                                <li>Empowerment of AWWs by enabling host of growth monitoring information on her finger tips i.e. Beneficiary specific P.I., Weight, Growth grades, time and date history, Past 3 records.</li>
                                <li>Empowered AWW can decisively conduct Parent Counselling in real time while performing growth monitoring of beneficiary on EPGM.</li>
                                <li>Accurate, factual and timely Data of Growth Monitoring available at AWC itself through user friendly functions.</li>
                                <li>Seamless and non intrusive mode of Data transfer from AWC to project and further to Head Quarter (H.Q.) server without human intervention.</li>
                                <li>Program driven transfer of beneficiary wise Log data to server data base at H.Q for M.I.S. purpose.</li>
                                <li>Maximum output with minimum energy.</li>
                                <li>SMS alerts to all the concerned in case of emergency to the child</li>
                            </ul>
                            <br />
                            <b>To Beneficiaries</b>
                            <br />
                            <ul>
                                <li>Easy beneficiary registration and tracking</li>
                                <li>Emergency Identification</li>
                                <li>Provides nutrition and precaution advise at the early stage</li>
                                <li>Improved postnatal care and detection of risks for mother and child.</li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-md-4 ">
                        <div class="margin-top">
                            <img src="/Content/images/ppt-slide%20images.png" class="img-responsive" style="margin-top: 20%;" />
                        </div>
                    </div>
                </div>
            </section>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/Scripts/Login/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/Login/bootstrap.min.js"></script>
</body>
</html>



