
.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
    border-left: solid 1px !important;
    border-right: solid 1px !important;
    border-top: solid 1px !important;
    border-color: #ccc !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 0px solid #ccc !important;
    background: none !important;
}

.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
    border-left: solid 1px !important;
    border-right: solid 1px !important;
    border-top: solid 1px !important;
    border-color: #ccc !important;
    background-color: #7b454b !important;
    color: black !important;
}

.ui-widget-header .ui-state-default {
    border: 1px solid #cccccc;
    background: #fff !important;
}

th.ui-th-column div {
    height: auto !important;
}

.ui-jqgrid .ui-jqgrid-htable th div {
    height: auto !important;
    padding-bottom: 8px !important;
}

th.ui-th-column div {
    white-space: normal !important;
    height: auto !important;
    padding: 2px !important;
}


.ui-jqgrid .ui-jqgrid-htable th div {
    overflow: visible !important;
    height: auto !important;
}

.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
    white-space: normal !important;
}

.ui-jqgrid .ui-th-div-ie {
    white-space: normal !important;
}

.ui-jqgrid-htable {
    /*letter-spacing: 1px !important;*/
}

.ui-jqgrid .ui-jqgrid-htable {
    line-height: 15px !important;
}

.ui-jqgrid tr.jqgrow td {
    padding: 0px 7px 0 4px !important;
}

.input-label {
    min-width: 90px !important;
    text-align: left;
}

.content-wrapper {
    min-height: 601px !important;
    overflow-y: visible !important;
}

.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
    color: white !important;
}

.ui-jqgrid .ui-jqgrid-bdiv {
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    overflow-y: auto !important;
    text-align: left;
}
